#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
ssh_pwauth: True
chpasswd:
  list: |
     root:sesamo
  expire: False

users:
  - name: brayanmontoya # Change me (nombre del dominio sin .com)
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDh7GpbpAwoYHyUvLqoWFnN+tdcYbNoCgn58Hfsk6yfnUW76emjQXkgTeWzPRM7wXcXeClJyqQLKy+DWFSOQFyYo0MrGvvzswmaKphcQfhJjZq000LqpzI58Lq3C45h7+GeLT2UYZg+9IV/n4DRnJSSdVQ5JDQECgGmzbyT9GO9awo0WnJ3/OmKhTOFZ1ZOxebChkmMPAha+yU058AvPddWcdKsvU+ec1TkTrijbMw4WQ5LiiRSElQCjZ94ieW0AhuNJtixND8tGleYCaclp548Mw5+870x4FU0eLdH3lwr6Z8hsPze7JGrHCIxjVEfRJWu2PoN3Ld23lNd1bO0+4X6UuZz2cPWoFj8fk3aGYzmveh/09T6gds5Bzho+2ft+qO3n+HW7g/qy+NeMP+ugq1/WLhdb+LytBFiCg1uyM46iv0tkWdMPFQTxU30QApG1Y+sIsHzYzGvbehVmbXzU8hObcF7DQefROMVQ3wHJcbsNIyKWIk544bY8i/b0GB3Yq0= brayan@pcubuntu
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: sudo
    lock_passwd: false

